################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cscn71020-project2/v17
/CSCN71020_A2 (1)/CSCN71020_A2/.vs/BCSRec
